.fixed-footer
  %ul
    %li
      %a{href: CONTACT_CONFIG['home'], target: "_blank"}
        %i.fa.fa-home
    %li
      %a{href: CONTACT_CONFIG['facebook'], target: "_blank"}
        %i.fa.fa-facebook
    %li
      %a{href: CONTACT_CONFIG['twitter'], target: "_blank"}
        %i.fa.fa-twitter
    %li
      %a{href: CONTACT_CONFIG['linkedin'], target: "_blank"}
        %i.fa.fa-linkedin
    %li
      %a{href: CONTACT_CONFIG['github'], target: "_blank"}
        %i.fa.fa-github
    %li
      %a{href: CONTACT_CONFIG['contact_email'], target: "_blank"}
        %i.fa.fa-envelope
