.page-content-wrap
  .row
    .col-md-12
      .panel.panel-default
        .panel-heading.ui-draggable-handle
          %h3.panel-title
            = @role.name
          %ul.panel-controls
            %li
              = link_to 'javascript:void(0);', class: 'panel-collapse' do
                %span.fa.fa-angle-down
            %li
              = link_to '', class: 'panel-refresh' do
                %span.fa.fa-refresh
        .panel-body
