.page-content-wrap
  .row
    .col-md-12
      .panel.panel-default
        .panel-heading.ui-draggable-handle
          %h3.panel-title
            =# collection.name.safe_constantize.model_name.human
            权限列表
          %ul.panel-controls
            %li
              = link_to 'javascript:void(0);', class: 'panel-collapse' do
                %span.fa.fa-angle-down
            %li
              = link_to '', class: 'panel-refresh' do
                %span.fa.fa-refresh
        .panel-body
          %table.table.table-bordered
            %tbody
              - collection.each_slice(2) do |resources|
                %tr
                  - resources.each do |resource|
                    %td= link_to resource.name, edit_resource_path(resource)

          = paginate collection
