.page-content-wrap
  .row
    .col-md-12
      .panel.panel-default
        = render partial: 'shared/index_header'
        .panel-body
          %table.table.table-bordered
            %tbody
              - collection.each_slice(2) do |resources|
                %tr
                  - resources.each do |resource|
                    %td= link_to resource.name, edit_resource_path(resource)

          = paginate collection
