/* backedn form Special style */

body {
  background-size: cover;
}

.page-container {
  background: transparent !important;
}

.page-container .page-content {
  background: rgba(255, 255, 255, 0.5) !important;
}

.horizontal_form {
  margin-bottom: 5px;
}

.form-group {
  display: flex;
}

.form-group input.date {
  line-height: 25px;
  margin-left: 10px;
  padding: 0 5px;
  width: 20%;
}

.form-group label {
  text-align: right;
  right: 3px;
  line-height: 30px;
}

.horizontal_form .col-md-9 input,
.horizontal_form .col-md-9 textarea,
.horizontal_form .col-md-9 select,
.horizontal_form .col-md-9 div.select {
  width: 70%;
  float: left;
  margin-right: 5px;
}

.horizontal_form .col-md-9 select.region_select {
  width: 23%;
}

.edit-content {
  padding: 30px 0px;
}

.border-wrapper {
  border: 1px solid #C0C0C0;
}

fieldset {
  border: 1px solid #e4e4e4;
  margin: 0;
  margin-bottom: 10px;
}

legend {
  color: #484848;
}

.box {
  padding: 6px;
  margin-bottom: 10px;
  background-color: #f6f6f6;
  color: #505050;
  line-height: 1.5em;
  border: 1px solid #e4e4e4;
  word-wrap: break-word;
}

label.floating {
  font-weight: normal;
  margin-left: 0px;
  text-align: left;
  width: 270px;
}

span.cm-checkbox {
  min-width: 100px;
  display: inline-block;
}

.flash-notice {
  text-align: center;
  position: fixed;
  float: right;
  right: 20px;
  top: 20px;
  background-color: rgba(253, 249, 249, .5);
  padding: 10px 40px;
  border-radius: 5px;
}

.flash-notice .warn {
  font-size: 1.2em;
  color: #544545;
  margin-bottom: 0px;
}

.edit_role .col-sm-3,
.new_role .col-sm-3 {
  width: 10%;
}

.col-md-9 .flash-notice {
  text-align: left;
}

#permissions legend {
  font-size: 1.3em;
  margin-bottom: 5px;
}

.users .panel.panel-default {
  min-height: 283px;
}

.profile-link {
  background-color: #262a33;
  width: auto !important;
}

.sm-input {
  width: 160px !important;
}

.text-center .img-responsive {
  margin: auto;
}

.radio_buttons>div {
  display: inline-block;
  width: auto;
  margin-left: 15px;
}

.radio_buttons>div>label {
  margin-left: 5px;
}

.custom-control.custom-checkbox {
  padding-left: 0;
}

label.custom-control-label {
  position: relative;
  padding-left: 0.5rem;
}

label.custom-control-label::before,
label.custom-control-label::after {
  right: 0;
  left: auto;
}

.user_remember_me {
  text-align: left;
  border: 0px;
}
