.fixed-footer {
  position: fixed;
  text-align: center;
  width: 100%;
  bottom: 5%;
}

.fixed-footer ul {
  padding: 0 40px;
  list-style: none;
  margin: 0;
}

.fixed-footer ul li {
  display: inline-block;
  position: relative;
}

.fixed-footer ul li a {
  display: block;
  margin: 0 22px 0 0;
  color: #FFF;
}

.fixed-footer ul li a i {
  font-size: 2em;
}
