#topcontrol{title: 'Scroll Back to Top', style: 'position: fixed; bottom: 10px; right: 10px; opacity: 1; cursor: pointer;'}
  .to-top
    %span.fa.fa-angle-up

= audio_tag("alert.mp3", id: 'audio-alert', preload: 'auto')
= audio_tag("fail.mp3", id: 'audio-fail', preload: 'auto')
