#tab-general
  .row.mbl
    .col-lg-12
      .row
        .col-lg-6
          .portlet.box
            .portlet-header
              .caption Line Chart
              .tools
                %i.fa.fa-chevron-up
                %i.fa.fa-cog{data: {toggle: 'model', target: '#modal-config'}}
                %i.fa.fa-refresh
                %i.fa-fa-times
              .portlet-body
                #line-chart{style: 'width: 100%;height: 300px;'}
        .col-lg-6
          .portlet.box
            .portlet-header
              .caption Bar Chart
              .tools
                %i.fa.fa-chevron-up
                %i.fa.fa-cog{data: {toggle: 'model', target: '#modal-config'}}
                %i.fa.fa-refresh
                %i.fa-fa-times
              .portlet-body
                #bar-chart{style: 'width: 100%;height: 300px;'}
